*{
    margin: 0;
    box-sizing: border-box;
 }

 html {
    scroll-snap-type: y mandatory;
 }

 body {
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
 }

 .app_videos {
    position: relative;
    background-color: white;
    height: 700px;
    overflow: scroll;
    width: 100%;
    max-width: 350px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
 }

 .app_videos::-webkit-scrollbar {
    display: none;
 }

 .app_videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
 }

 .videos {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
 }

 .video_player {
    object-fit: cover;
    width: 100%;
    height: 100%;
 }

 .videosidebar {
    position: absolute;
    top: 48%;
    right: 10px;
 }

 .videosidebar .material-icons {
    font-size: 28px;
    cursor: pointer;
 }

 
 .videsidebar_button {
    padding: 20px;
    text-align: center;
 }

 .videofooter {
    position: relative;
    bottom: 150px;
    margin-left: 20px;
    color: white;
    display: flex;
 }


 @keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }


 .videofooter_record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0%;
    right: 20px;
 }

 .videosidebar_button {
    color: white;
 }

 .videofooter_ticker button {
    color: black;
    background-color: white;
    border-radius: 12px;
 }

 .videofooter_text {
    flex: 1;
 }

 .videofooter_text h3 {
    padding-bottom: 20px;
 }

 .videofooter_icon {
    position: absolute;
 }

 .videofooter_ticker {
    width: 400px;
    display: flex;
    align-items: 60%;
 }

 .videofooter_description {
    padding-bottom: 20px;
 }

 @media (max-width: 425px) {
    .app_videos {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
 }